.delivery-sec {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 120px 24px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f8f8f8;
	padding-bottom: 25px;
}
.no-padding-top {
	padding-top: 0px;
}
.wrapper-sec {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 1200px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: transparent;
}
.wrapper-sec.side-paddings {
	padding-right: 15px;
	padding-left: 15px;
}
.delivery {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	width: 100%;
	margin-top: 25px;
	padding: 80px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	border-radius: 16px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
.delivery-info {
	width: 66.66%;
	padding-right: 8.33%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.question {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 270px;
	padding: 40px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	border: 2px solid #e5e5e5;
	border-radius: 16px;
	font-size: 12px;
	text-align: center;
}
.question-heading {
	margin-bottom: 16px;
}
.button.small {
	height: 40px;
	padding: 8px 24px;
	border-radius: 20px;
	font-size: 13px;
	line-height: 24px;
}
.delivery-info > h2 {
	margin-top: 0px;
	margin-bottom: 16px;
	font-family: 'Varela Round', sans-serif;
	font-size: 23px;
	line-height: 40px;
	font-weight: 400;
}
.delivery-info > p {
	margin-bottom: 28px;
	font-size: 16px;
	line-height: 24px;
}
