.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* header css start */
.header-container {
	margin-bottom: 73px;
}
.header {
	position: fixed;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	box-shadow: 0 1px 0 #ddd;
	background: #fff;
	z-index: 999;
}
.logo-btn {
	max-width: 220px;
	float: right;
	padding: 3px;
}
.logo-btn:focus {
	outline: none !important;
	outline-offset: none !important;
	box-shadow: none !important;
}
.navbar-brand {
	width: 210px;
}
.right-gap {
	width: 10%;
}
.logo-img {
	width: 84%;
	height: auto;
}
.menu-content {
	width: 100%;
	height: 100%;
	padding: 20px;
	padding-right: 0;
}
.navbar-nav > a {
	position: relative;
	color: #333;
	font-style: italic;
	padding: 15px;
}
.navbar-nav > a:hover {
	color: red;
	text-decoration: none;
}
.nav-link.active {
	color: black !important;
	border-bottom: 1px solid #333 !important;
}
.carousel-area {
	max-width: 100% !important;
	/* padding: 0 !important; */
	/* margin-top: 108px; */
}
.carousel-caption {
	position: absolute;
	right: 0;
	bottom: 0px;
	left: 0;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 27px;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, .6);
	font-family: 'Varela Round', sans-serif;
	font-size: 28px;
	line-height: 36px;
	font-weight: 400;
}
.carousel-indicators {
	bottom: -14px;
}
.caption-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 1rem;
	line-height: 28px;
	font-weight: 400;
}
.navbar {
	position: relative;
	padding: 0rem 1rem;
}
.navbar-brand {
	display: inline-block;
	padding-top: .3rem;
	padding-bottom: .3rem;
}
.navbar-nav > a {
	padding: 15px;
	font-style: normal;
	font-size: 18px;
}
.navbar-nav > a.active {
	color: red;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	display: inline-block;
	width: 33px;
	height: 33px;
}

/* Footer css start */
.desk-footer {
	position: relative;
	z-index: 6;
	bottom: 0;
	background: #000000;
}
.rights-reserved {
	position: relative;
	width: 100%;
	height: 51px;
	color: #fff;
	text-align: center;
	padding: 15px;
	bottom: 0;
}
.rights-reserved > p {
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}
/* responsive code start  */
@media (max-width: 769px) {
	.right-gap {
		display: none !important;
	}
	.nav-link.active {
		border-bottom: none !important;
	}
	.carousel-caption {
		display: none;
	}
}
@media (max-width: 560px) {
	.rights-reserved > p {
		font-size: 12px;
	}
}
